{% extends "blog/base.html" %}
{% block content %}
{% for posts in post %}
{% comment %} <h1>{{posts.title}}</h1>
<p>Posted By {{posts.author}} On {{posts.date_posted}}</p>
<p>{{posts.content}}</p> {% endcomment %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ posts.author }}</a>
        <small class="text-muted">{{ posts.posted_on | date:"F d, Y"}}</small>
      </div>
      <h2><a class="article-title" href="#">{{ posts.title }}</a></h2>
      <p class="article-content">{{ posts.content }}</p>
    </div>
  </article>
{% endfor %}
{% endblock content%} 

